.container {
  display: grid;
  grid-template-columns: repeat(6, 70px);
  grid-template-rows: repeat(6, 70px);
  /* row-gap: 10px;
  column-gap: 20px; */
  gap: 20px;
}

.item1 {
  background-color: red;
  grid-row: 1 / span 3;
  grid-column: 1 / span 4;
}

.item2 {
  background-color: green;
  grid-row: 4/7;
  grid-column: 1/7;
}

.item3 {
  background-color: yellow;
  grid-column: 5/7;
  grid-row: 1/4;
}
